body {
    background-color: lightgrey;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    margin-bottom: 40px;
    
}

.navbar {
    margin-bottom: 20px;
}
.nav-link .dropdown-toggle{
color: black;
}

#aloitusbox {
    margin-bottom: 20px;
}
#aloitusbox h3{
   margin-bottom: 15px;
}

#infoboxi {
    border: 2px solid ;
    border-color: grey;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    background-color:darkgrey;
    border: 2px solid;
    border-color: black;
    padding: 15px;
}