body {
    background-color:#E6E6E6 ;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar {
    margin-bottom: 20px;
   
}
.navbar>.container-fluid{
display: block!important;
}

.nav-link .dropdown-toggle{
color: black;
}

#aloitusbox {
    margin-bottom: 20px;
}
#aloitusbox h3{
   margin-bottom: 15px;
}

#infoboxi {
    width: 80%;
    display: flex;
    align-items: center;
    border: 3px solid ;
    border-color: black;
   
}
.info-container {
    width: 40%;
    align-items: center;
    border: 3px solid ;
    border-color: black;
}


#form-container {
    background-color:#B1CCCB;
    border: 3px solid;
    border-color: black;
    padding: 15px;
}
.buttons {
    background-color: #CCC8C6;
}

/*kokeilu*/
.grid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }