body {
    background-color:#E6E6E6 ;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar {
    margin-bottom: 20px;
   
}
.navbar>.container-fluid{
display: block!important;
}

.nav-link .dropdown-toggle{
color: black;
}

#aloitusbox {
    margin-bottom: 20px;
}
#aloitusbox h3{
   margin-bottom: 15px;
}

#infoboxi {
    width: 80%;
    display: flex;
    align-items: center;
    border: 2px solid ;
    border-color: grey;
   
}

#form-container {
    background-color:#998A8A;
    border: 2px solid;
    border-color: black;
    padding: 15px;
}
.buttons {
    background-color: #E6E6C2;
}