@charset "UTF-8";
header {
  border-bottom: 1px solid #E0D7D3;
}

body {
  background-color: #626670;
}

p {
  color: black;
  font-family: Verdana, sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 120px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: black;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 50px;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 30px;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  font-size: 20px;
}

.navbar {
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/*jääkö?*/
.nav .navbar .navbar-expand-lg .navbar-light {
  color: red;
}

.navbar > .container-fluid {
  display: block !important;
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: black;
}

#aloitusbox {
  margin-bottom: 20px;
}
#aloitusbox h3 {
  margin-bottom: 15px;
}
#aloitusbox .card-body {
  background-color: #b4e1cf;
}

#tekstikortti .card-body {
  background-color: #b4e1cf;
}

/*#infoboxi {
    width: 80%;
    display: flex;
    align-items: center;
    border: 3px solid ;
    border-color: black;

}*/
.info-container {
  width: 20%;
  align-content: center;
  border: 3px solid;
  border-color: black;
  margin-bottom: 30px;
}
.info-container #title3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info-container .border {
  border: 2px solid black !important;
  padding: 10px;
  background-color: #15515c;
  margin: 15px;
  align-items: center;
}

#clearfix {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  border: 3px solid;
  border-color: black;
  margin-bottom: 30px;
  margin-top: 20px;
}

#form-container {
  background-color: #b4e1cf;
  border: 3px solid;
  border-color: black;
  padding: 15px;
  font-style: "Roboto Condensed", sans-serif;
}

.buttons {
  background-color: #346B6D;
}

.footer {
  font-family: Verdana, sans-serif;
}
.footer ul li {
  color: black;
  font-family: Verdana, sans-serif;
}

.text-muted {
  --bs-text-opacity: 1;
  color: black !important;
}

/*Image gallery*/
.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*linkki napit*/
a[target] {
  color: blue;
  font-size: 20px;
}

#businesscard a {
  padding: 10px;
}

.question-container .text-center h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

#home {
  margin-bottom: 10px;
}

.headlinebg {
  font-weight: bold;
  background-color: #b4e1cf;
  display: inline-block;
}

/*otsikon nväri, joka muuttuu kun hiiren laittaa tekstin yläpuolle*/
.textcolor {
  color: purple;
}

.textcolorR {
  background-color: #b4e1cf;
}

/*tekstin taustavärin vaihto klikkauksella*/
.textbg {
  background-color: #FB9F8B;
}

#cards {
  margin-top: 20px;
}

/*# sourceMappingURL=built-styles.css.map */
