$background-color: #626670;
$highlight-color: white;
$font-stack: Verdana, sans-serif;
$secondbackground-color: #b4e1cf;

@mixin theme($theme:black) {
  font-family: 'Roboto Condensed', sans-serif;
  color: $theme;
}


header {
  border-bottom: 2px solid $highlight-color;
}

body {
    background-color: $background-color;
}
p {
  color: black;
  font-family: $font-stack;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: black;
}
h2 {
  @include theme;
  font-size: 50px;
}
h3 {
  @include theme;
  font-size: 30px;
}
h4 {
  @include theme;
  font-size: 20px;
}
.navbar {
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: $font-stack;
    font-size: 20px;
  
}
//navbar tekstin väri
.navbar-light .navbar-nav .nav-link {
  color: white;
}

/*jääkö?*/
.nav .navbar .navbar-expand-lg .navbar-light {
  color: red;
}

.navbar>.container-fluid{
display: block!important;
}

.navbar-light .navbar-toggler {
color: black;
border-color: black;
border: 3px solid;
}


#aloitusbox {
    margin-bottom: 20px;
    h3{
      margin-bottom: 15px;
   }
   .card-body{
    background-color: $secondbackground-color;
   }
}

#tekstikortti {
  .card-body{
    background-color: $secondbackground-color;
  }
}
/*#infoboxi {
    width: 80%;
    display: flex;
    align-items: center;
    border: 3px solid ;
    border-color: black;
   
}*/

.info-container {
    width: 20%;
    align-content: center;
    border: 3px solid ;
    border-color: black;
    margin-bottom: 30px;
    #title3{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px
    }
    .border {
      border: 2px solid black!important;
      padding: 10px;
      background-color: #15515c;
      margin: 15px;
      align-items: center;
  }
}

#clearfix {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    border: 3px solid ;
    border-color: black;
    margin-bottom: 30px;
    margin-top: 20px;
}

#form-container {
    background-color: $secondbackground-color; //*#B1CCCB;
    border: 3px solid;
    border-color: black;
    padding: 15px;
    font-style: 'Roboto Condensed', sans-serif;
   
}

.buttons {
  background-color: #346B6D;
}

.footer{
  font-family: $font-stack;
    ul li{
    color: black;
    font-family: $font-stack;
  }
}
.border-top {
  border-top: 1px solid $highlight-color!important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: black!important;
}

/*Image gallery*/
.grid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /*linkki napit*/
  a[target] {
    color: blue;
    font-size: 20px;
    
  }

#businesscard a {
    padding: 10px;

}
.question-container .text-center h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}
#home {
  margin-bottom: 10px;
}
//yhden otsikon alle taustavärimääritys tällä
.headlinebg{
  font-weight: bold;
  background-color: $secondbackground-color;
  display: inline-block;
  
}
/*otsikon väri, joka muuttuu kun hiiren laittaa tekstin yläpuolle*/
.textcolor{
  color: purple;
}
//väri joka vaihtuu id:stä kun hiiren laittaa päälle.
.textcolorR {
  background-color: $secondbackground-color;
}
/*tekstin taustavärin vaihto klikkauksella. Yhteystiedot clearfix-boxin ensimmäinen rivi 'Jkorut..'*/ 
.textbg{
  background-color: #FB9F8B;
}

#cards {
  margin-top: 20px;

}

.list-group-item{
  @include theme;
  background-color: $secondbackground-color;
}
//about sivun listan ensimmäisen rivin tekstin värin määritys
.ulListColor {
  color: rgb(121, 15, 221)!important;
}
//about sivulla alaosan listauksen tekstin väritys
.list-group-item {
  color: rgb(184, 109, 6);
}
//about sivun ensimmäisen kortin tekstin värin määritys
.cardTexColor{
  color: red;
}

/* About-sivun ensimmäinen valokuva ja (vasen alareuna) kuvaajan nimi (viite) */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}